.radioContainer {
    display: block;
    font-size: small;
}

.formContainer {
    align-items: center;
}

.cardStyles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkseagreen;
    padding: inherit;
}

.navbarStyles {
    background-color: linen;
}

.sendAnswerButton {
    margin-left: auto;
}

.nav {
    margin-top: -40px;
    height: 155px;
}

.div-nav {
    display: block;
}

.aboutSite {
    padding-top: 63px
}

.iconStyles {
    padding-left: 29px;
    margin-top: -33px;
    height: 139px;
}

.inputTextStyles {
    text-align: left;
    height: 190px;
}