.radioContainer {
    display: block;
    font-size: small;
}

.formContainer {
    align-items: center;
}

.cardStyles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkseagreen;
    padding: inherit;
}

.sendAnswerButton {
    margin-left: auto;
}

.inputTextStyles {
    text-align: left;
    height: 190px;
}